@import "fonts";
@import "vars";

*{
  margin : 0;
  padding: 0;
}

html,body, #app {
  height:100%;
 
}
html{
  overflow-x: hidden;
}
body{
  
  background-color: #ffffff;
  
}
#app {
  font-family: 'Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}



